<div id="<%= dom_id sentence %>">
  <div class="my-5 flex justify-between items-center">
    <div>
      <% sentence.sentence_parts.each do |sentence_part|%>
        <%= decorate_sentence_part(sentence_part) %>
      <% end %>
    </div>


  <% if action_name != "show" %>
    <div>
    <%= link_to 'âœï¸', edit_sentence_path(sentence), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'ðŸ—‘ï¸', sentence_path(sentence), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    </div>
  <% end %>
  </div>
</div>
