<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New sentence</h1>

  <%= render "form", sentence: @sentence %>

  <%= link_to '⬅️ Back to sentences', sentences_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium transition ease-in-out hover:-translate-y-1 hover:scale-110" %>
</div>
